
	h1 {
            color:rgb(45, 196, 242);        }  
        
        body {
            background-color: rgb(54, 62, 106) ;
        }
	p{ color:white;}
	

	a{color:white;}


(54, 62, 106)
rgb(5, 40, 241);
